@tailwind base;
@tailwind components;
@tailwind utilities;

.registerSection {
    background: url('https://images.pexels.com/photos/1542252/pexels-photo-1542252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}